<div class="border">
    <caption>
        <h1>COMPLAINTS DETAILS</h1>
        <button style="background: #fff; border:#fff;"></button>
    </caption>
    <table class="table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>DATE OF COMPLAINT</th>
                <th>COMPLAINANT</th>
                <th>COMPLAINANT TYPE</th>
                <th>COMPLAINT TYPE</th>
                <th>STATUS</th>
                <th>View & Respond</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let us of readdata; let j=index">
                <td>{{j+1}}</td>
                <td>{{us.complaint_date}}</td>
                <td *ngIf="us.complainant_type==='Student'">{{us.student_name}}</td>
                <td *ngIf="us.complainant_type==='Teacher' || us.complainant_type==='HOD'">{{us.faculty_name}}</td>
                <td>{{us.complainant_type}}</td>
                <td>{{us.complainant_category_title}}</td>
                <td *ngIf="us.complaint_status===0">Not Resolved</td>
                <td class="action"><a [routerLink]="['/Admin/acomplaintview',us.complaint_id ]">View & Respond</a></td>
            </tr>
        </tbody>
    </table>
</div>