.border {
    border: 1px solid black;
    box-shadow:5px 5px 5px 5px #838383;
    margin-top: 25px;

}

.styled-table {
    width: 99%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin: 0px auto 5px auto;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

caption {
    display: flex;
    justify-content: space-between;
    color: #009879;
    font-weight: 500;
    margin: 5px 5px 0px 5px;
}

button {
    background-color: #009879;
    color: white;
    font-weight: 1000;
    height: 50px;
    width: 100PX;
    border-radius: 8px;
    transition: 0.5s;
}

button:hover {
    background: black;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: 0.5s;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    font-weight: bold;
    background-color: #dddddd;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: red;
}