<div class="body">
   <div class="container">
      <div class="card">
         <div class="header">
            <div class="main">
               <div class="image">
                  <img [src]=" imageUrl || 'assets/no_profile_pic.jpg'" width="105px">
               </div>
               <h3 class="name">{{name}}</h3>
               <h3 class="sub-name">{{designation}}</h3>
            </div>
         </div>

         <div class="content">
            <div class="details">
               <label class="head">E-MAIL ID</label>
               <INPUT type="text" value="{{email}}" readonly disabled>
            </div>
            <div class="details">
               <label class="head">DOB</label>
               <INPUT type="text" value="{{dob}}" readonly disabled>
            </div>
            <div class="details">
               <label class="head">GENDER</label>
               <INPUT type="text" value="{{gender}}" readonly disabled>
            </div>
            <div class="details">
               <label class="head">Contact Number</label>
               <INPUT type="text" value="+91{{contact}}" readonly disabled>
            </div>
            <div class="details">
               <label class="head">ADDRESS</label>
               <INPUT type="text" value="{{place}}, {{district}}, Kerala" readonly disabled>
            </div>
            <div class="details">
               <label class="head">Adhaar</label>
               <INPUT type="text" value="{{adhaar}}" readonly disabled>
            </div>
         </div>
      </div>
   </div>
</div>