<body>
    <section>
        <div class="imgBx">
            <img src="assets/reg-1.jpg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>DISTRICT&nbsp;&nbsp;REGISTRATION</h2>
                <form [formGroup]="districtform" (ngSubmit)="districtsubmit()">
                    <div class="inputBx">
                        <span>DISTRICT NAME</span>
                        <input type="text" formControlName="disname">
                        <div id="name"></div>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="REGISTER">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script>
    function nameval(elem)
{
	var emailexp=/^([A-Za-z ]*)$/;
	if(elem.value.match(emailexp))
	{
		document.getElementById("name").innerHTML = "";
		return true;
	}
	else
	{
		
		document.getElementById("name").innerHTML = "<span style='color: red;'>Alphabets Are Allowed</span>";
		elem.focus();
		return false;
	}
}
</script>