<h2 class="dash-title">Overview</h2>

        <div class="dash-cards">
            <div class="card-single">
                <div class="card-body">
                    <div>
                        <h5>Departments</h5>
                        <h4>8+</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink="/Admin/departmentview" style="color: #bf1543;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">View All</a>
                </div>
            </div>

            <div class="card-single">
                <div class="card-body">
                    <div>
                        <h5>Faculties</h5>
                        <h4>215+</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink="/Admin/facultyview" style="color: #bf1543;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">View All</a>
                </div>
            </div>

            <div class="card-single">
                <div class="card-body">
                    <div>
                        <h5>Students</h5>
                        <h4>2623+</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink="/Admin/studentview" style="color: #bf1543;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">View All</a>
                </div>
            </div>
        </div>

        <section class="recent">
            <div class="activity-grid">
                <div class="activity-card">
                    <h3>Management Team</h3>

                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Photo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fr. Paul Parakattel CMI</td>
                                <td>Principal / Manager</td>
                                <td class="td-team">
                                    <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;" src="assets/principal.jpg">
                                </td>
                            </tr>
                            <tr>
                                <td>Fr. Dino</td>
                                <td>Vice Principal / Bursar</td>
                                <td class="td-team">
                                    <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;" src="assets/viceprincipal.jpg">
                                </td>
                            </tr>
                            <tr>
                                <td>Fr. Paul Parakattel CMI</td>
                                <td>Principal / Manager</td>
                                <td class="td-team">
                                    <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;" src="assets/principal.jpg">
                                </td>
                            </tr>
                            <tr>
                                <td>Fr. Dino</td>
                                <td>Vice Principal / Bursar</td>
                                <td class="td-team">
                                    <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;" src="assets/viceprincipal.jpg">
                                </td>
                            </tr>
                            <tr>
                                <td>Fr. Paul Parakattel CMI</td>
                                <td>Principal / Manager</td>
                                <td class="td-team">
                                    <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;" src="assets/principal.jpg">
                                </td>
                            </tr>
                            <tr>
                                <td>Fr. Dino</td>
                                <td>Vice Principal / Bursar</td>
                                <td class="td-team">
                                    <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;" src="assets/viceprincipal.jpg">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>