<div class="about-section">
    <h1>About Us</h1>
    <p>NAEF-X is a web-based application which provides technology-based platform to manage a campus virtually. Thus means this system is useful to manage the education system of a campus completely through online. It is a web-based application which serving as a platform for campus management, faculties and students to interact each other to improve the quality of the education which is provided in virtual method. The process of providing education, quality of education, learning curve of students, dedication of faculties etc. can be easily monitored with the help of this system.</p>
    <p>The NAEF-X (New Automated Education Framework for Excellence) is a simple Angular/MySQL project that can help campus management, faculties, students and parents. This system stores the details of faculties and students. It follows the complete hierarchy of the campus system. That is the principal or management is at the top level and they are the admins of the system. HODs or Teachers are at the intermediate level and they create assignments, host meetings for the students or other faculties. Students are at the low level and they have limited access to the system. They can submit their assignments and view the contents of what the teachers post etc. By following this hierarchy, we can feel the actual campus virtually and we can avoid the fakes that have access to this system.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row" style="display: flex;justify-content: space-around;">
    <div class="column">
      <div class="card">
        <img src="/assets/profile.jpg" style="width:100%" height="500px" width="200px">
        <div class="container">
          <h2>Nabeel Latheef</h2>
          <p class="title">Developer</p>
          <p>BCA Graduate From Santhigiri College of Computer Sciences and he is the CEO of NAEF-X.</p>
          <p>nabeellatheef14@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/GIBINGEORGE.jpg" style="width:100%" height="500px" width="200px" >
        <div class="container">
          <h2>Gibin George</h2>
          <p class="title">Project Guide</p>
          <p>Assistant Professor of Department of Computer Sciences at Santhigiri College.</p>
          <p>gibingeorge@santhigiricollege.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/no_profile_pic.jpg" alt="John"  style="width:100%" height="500px" width="200px">
        <div class="container">
          <h2>Sarath K B</h2>
          <p class="title">External Project Guide</p>
          <p>Full stack angular developer at Progressive Technique Solutions, Muvattupuzha, Kerala</p>
          <p>sarathkb36@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>