<div class="guest-main">
    <div class="guest-child">
        <h2>An Investment In Knowledge<br><span>Pays The Best Interest....</span></h2>
        <br><br><br>
        <div class="paragraph">
            <p>
                1.077 billion learners have been affected due to school closures. Now the biggest question arises that how students get education?. Many big organizations have found only one solution for this, which is online education. The effect of which can be seen everywhere.
            </p>
            <p>
                Online education is being achieved through computers in a way with the facility of the internet. Computers and many types of gadgets are used for online education. But for this the quality of the internet should be good, we have to pay attention to this.
            </p>
            <p>
                There is no such situation as lokdown, but a deadly disease like corona still has not given up. For this reason, schools and colleges have still made online education their best support due to the situation being not normal. Which is right or not, depends on the effect of the situation in each way.
            </p>
        </div>
        <br><br><br>
        <h2 align="center">NAEF-X<br>FOR BETTER FUTURE...<br>BETTER EDUCATION</h2>
    </div>
    <div class="student-img">
        <img src="/assets/stud-imgg.jpg">
    </div>
</div>
<div class="boxes">
    <div class="box">
        <div style="padding: 1rem;">
            <h2>Hirarchy</h2>
            <span>We Follows The Complete Campus Management Hirarchy.</span>
        </div>
    </div>
    <div class="box">
        <div style="padding: 1rem;">
            <h2>Reports</h2>
            <span>Users Can Easily Generate Reports based on Different Categories.</span>
        </div>
    </div>
    <div class="box">
        <div style="padding: 1rem;">
            <h2>Faster</h2>
            <span>Faster Than Other Existing Systems and Much More User Friendly</span>
        </div>
    </div>
    <div class="box">
        <div style="padding: 1rem;">
            <h2>Free</h2>
            <span>Provide Service Free of Cost And No Storage Limis etc.</span>
        </div>
    </div>
    <div class="box">
        <div style="padding: 1rem;">
            <h2>Technical Support</h2>
            <span>We Provide 24x7 Technical Support For All Customers.</span>
        </div>
    </div>
</div>