<div class="border">
    <caption>
        <button routerLink="/Admin/batch">ADD NEW</button>
        <h1>BATCH DETAILS</h1>
        <button style="background: #fff; border:#fff;"></button>
    </caption>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Sl. No.</th>
                <th>BATCH NAME</th>
                <th>COURSE</th>
                <th>DELETE</th>
                <th>EDIT</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let us of readdata;let j=index">
                <td>{{j+1}}</td>
                <td>{{us.batch_name}}</td>
                <td>{{us.course_abbreviation}}</td>
                <td><a (click)="deleteBatch(us.batch_id)">DELETE</a></td>
                <td><a [routerLink]="['/Admin/batchedit',us.course_id]">EDIT</a></td>
            </tr>
        </tbody>
    </table>
</div>