<div class="border">
    <caption>
        <button routerLink="/Admin/department">ADD NEW</button>
        <h1>DEPARTMENT DETAILS</h1>
        <button style="background: #fff; border:#fff;"></button>
    </caption>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Sl. No.</th>
                <th>DEPARTMENT NAME</th>
                <th>DELETE</th>
                <th>EDIT</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let us of readdata; let j=index">
                <td>{{j+1}}</td>
                <td>{{us.dept_name}}</td>
                <td><a (click)="deleteDepartment(us.dept_id)">DELETE</a></td>
                <td><a [routerLink]="['/Admin/departmenttedit',us.dept_id]">EDIT</a></td>
            </tr>
        </tbody>
    </table>
</div>