<body>
    <section>
        <div class="imgBx">
            <img src="assets/reg-4.jpg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>DEPARTMENT REGISTRATION</h2>
                <form [formGroup]="deptform" (ngSubmit)="deptsubmit()">
                    <div class="inputBx">
                        <span>DEPARTMENT NAME</span>
                        <input type="text" formControlName="deptname">
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="REGISTER">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>