<div *ngIf="status===2">
    <h2 class="dash-title">Overview</h2>

    <div class="dash-cards">
        <div class="card-single">
            <div class="card-body">
                <div>
                    <h5>Faculties</h5>
                    <h4>20+</h4>
                </div>
            </div>
            <div class="card-footer">
                <a routerLink="/HOD/hviewfaculty"
                    style="color: #bf1543;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">View
                    All</a>
            </div>
        </div>

        <div class="card-single">
            <div class="card-body">
                <div>
                    <h5>Classes</h5>
                    <h4>10+</h4>
                </div>
            </div>
            <div class="card-footer">
                <a routerLink="/HOD/viewclass"
                    style="color: #bf1543;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">View
                    All</a>
            </div>
        </div>

        <div class="card-single">
            <div class="card-body">
                <div>
                    <h5>Students</h5>
                    <h4>200+</h4>
                </div>
            </div>
            <div class="card-footer">
                <a routerLink="/HOD/hviewstudent"
                    style="color: #bf1543;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">View
                    All</a>
            </div>
        </div>
    </div>

    <section class="recent">
        <div class="activity-grid">
            <div class="activity-card">
                <h3>Department Team</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Photo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Amitha Joseph</td>
                            <td>Head of Department</td>
                            <td class="td-team">
                                <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;"
                                    src="assets/AMITHAJOSEPH.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td>Sebastian Cyriac</td>
                            <td>Course Cordinater</td>
                            <td class="td-team">
                                <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;"
                                    src="assets/faculty.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td>Gibin George</td>
                            <td>Department Representative</td>
                            <td class="td-team">
                                <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;"
                                    src="assets/GIBINGEORGE.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td>Amitha Joseph</td>
                            <td>Head of Department</td>
                            <td class="td-team">
                                <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;"
                                    src="assets/AMITHAJOSEPH.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td>Sebastian Cyriac</td>
                            <td>Course Cordinater</td>
                            <td class="td-team">
                                <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;"
                                    src="assets/faculty.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td>Gibin George</td>
                            <td>Department Representative</td>
                            <td class="td-team">
                                <img style="height: 38px;width: 38px;border-radius: 50%;margin-left: -10px;border: 3px solid #efefef;"
                                    src="assets/GIBINGEORGE.jpg">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>