<body>
    <section>
        <div class="imgBx">
            <img src="assets/reg-8.jpg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>CLASS REGISTRATION</h2>
                <form [formGroup]="classform" (ngSubmit)="classsubmit()">
                    <div class="inputBx">
                        <span>CLASS NAME</span>
                        <input type="text" formControlName="classname">
                    </div>
                    <div class="inputBx">
                        <span>BATCH</span>
                        <select formControlName="batchname">
                            <option value="" selected disabled style="text-align: center;">------Select------</option>
                            <option *ngFor="let us of readdata1" value="{{us.batch_id}}">{{us.course_abbreviation}} {{us.batch_name}}</option>
                        </select>
                    </div>
                    <div class="inputBx">
                        <span>FACULTY</span>
                        <select formControlName="facultyname">
                            <option value="" selected disabled style="text-align: center;">------Select------</option>
                            <option *ngFor="let us of readdata2" value="{{us.faculty_id}}">{{us.faculty_name}}</option>
                        </select>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="REGISTER">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>