<div class="border">
    <caption>
        <button routerLink="/Admin/coursetype">ADD NEW</button>
        <h1>COURSE TYPE DETAILS</h1>
        <button style="background: #fff; border:#fff;"></button>
    </caption>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Sl. No.</th>
                <th>COURSE TYPE</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let us of readdata; let j=index">
                <td>{{j+1}}</td>
                <td>{{us.course_type}}</td>
                <td><a (click)="deleteCoursetype(us.course_type_id)">DELETE</a></td>
            </tr>
        </tbody>
    </table>
    </div>