<body>
    <section>
        <div class="imgBx">
            <img src="assets/reg-7.jpg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>COURSE TYPE REGISTRATION</h2>
                <form [formGroup]="coursetypeform" (ngSubmit)="coursetypesubmit()">
                    <div class="inputBx">
                        <span>COURSE TYPE</span>
                        <input type="text" formControlName="coursetype">
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="REGISTER">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>